* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* main {
  min-height: calc(100vh - 140px);
  background: #1f4d2d;
  color: #dad211;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

* main a {
  text-decoration: none;
  color: #dad211;
  padding: 5px;
}

* main .ninfea {
  border: 1px solid #005811;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background: #005811;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}

* main strong {
  font-size: 17px;
}

* main .alert-danger {
  background: #791515;
  padding: 5px;
  margin-bottom: 5px;
}

* main .flexme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* main .flexme input {
  text-align: center;
  margin-bottom: 10px;
}

* .header,
* .footer {
  height: 70px;
  background: #4b3d2b;
  color: #dad211;
  display: flex;
  justify-content: center;
  align-items: center;
}

